include *.txt
include *.md
include *.pkl
recursive-include ./WalmartSales_model *

include WalmartSales_model/datasets/Walmart_sales.csv
include WalmartSales_model/datasets/test.csv
include WalmartSales_model/trained_models/*.pkl
include WalmartSales_model/VERSION
include WalmartSales_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]